.ready-to-talk {
    text-align: center;
    position: relative;
    background: linear-gradient(135deg,#23bdb8 0,#43e794 100%);
    padding-top: 70px;
    padding-bottom: 145px;
}
.ready-to-talk-content h3 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 300;
}
.ready-to-talk-content p {
    color: #fff;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: transparent;
    color: #fff;
}
.ready-to-talk-content span a {
    margin-left: 15px;
    color: #fff;
    text-decoration: underline;
}
.partner-area {
    text-align: center;
    position: relative;
    margin-top: -120px;
    background: 0 0;
}
.partner-area h3 {
    color: #fff;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 300;
}
.partner-inner {
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0,0,0,.08);
    border-radius: 3px;
    margin-top: 20px;
    text-align: center;
    padding: 5px 30px 30px;
}
.align-items-center {
    align-items: center!important;
}
.partner-inner a img {
    transition: .5s;
}
.partner-inner a {
    display: block;
    margin-top: 25px;
    position: relative;
}

.money-transfer-form form .form-group .nice-select {
    border: none;
    background-color: #0e314c;
    border-radius: 0 5px 5px 0;
    height: 100%;
    padding: 0 35px 0 25px;
    line-height: 72px;
    font-size: 17px;
    font-weight: 700;
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left!important;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}
.money-transfer-form form .form-group .nice-select span {
    color: #fff;
}
.money-transfer-form form .form-group .nice-select .list {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    background-color: #fff;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 10px;
}
.money-transfer-form form .form-group .nice-select .list .option:first-child {
    margin-top: 0;
}
.money-transfer-form form .form-group .nice-select .list .option {
    line-height: initial;
    min-height: auto;
    text-align: center;
    margin-top: 12px;
    padding-left: 0;
    padding-right: 0;
}
.comparisons-table table tbody td i,
.single-information-box .icon,
.login-content .login-form form .connect-with-social button:hover,
.signup-content .signup-form form .connect-with-social button:hover,
.single-footer-widget .social-links li a:hover,
.post-tag-media ul li a:hover,
#comments .comment-list .comment-body .reply a:hover,
.comment-respond .form-submit input,
.wp-block-button .wp-block-button__link {
	background-color: #ee0979;
}

.widget-area .widget_recent_entries ul li::before,
.widget-area .widget_recent_comments ul li::before,
.widget-area .widget_archive ul li::before,
.widget-area .widget_categories ul li::before,
.widget-area .widget_meta ul li::before,
.faq-accordion .accordion .accordion-title i,
.sidebar .widget .widget-title::before,
.sidebar .widget ul li::before,
.sidebar .tagcloud a:hover,
.comment-respond .comment-reply-title::before,
.page-links .post-page-numbers:hover,
.page-links .current,
.post-password-form input[type="submit"],
.comment-navigation .nav-links .nav-previous a:hover,
.comment-navigation .nav-links .nav-next a:hover,
.footer-area .single-footer-widget h3::before,
.footer-area .single-footer-widget ul li::before,
.footer-area .tagcloud a:hover,
.wp-block-file .wp-block-file__button,
.footer-area .logo h2::before {
	background: #ee0979;
}

.luvion-nav .navbar .navbar-nav .nav-item a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a,
.luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a,
.luvion-nav .navbar .others-options .login-btn:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item:hover a,
.navbar-area.is-sticky,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a,
.navbar-area.is-sticky .luvion-nav .navbar .others-options .login-btn i,
.navbar-area.is-sticky .luvion-nav .navbar .others-options .login-btn:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item:hover a,
.navbar-area.navbar-style-two,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a,
.navbar-area.navbar-style-two .luvion-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a,
.navbar-area.navbar-style-two .luvion-nav .others-options .login-btn:hover,
.money-transfer-form form .form-group .nice-select .list .option:hover,
.money-transfer-form form .terms-info p a:hover,
.about-content span,
.overview-box .overview-content .content .sub-title,
.overview-box .overview-content .content .services-list li span i,
.single-features-box .icon,
.single-features-box:hover .icon,
.features-box .icon,
.features-box:hover .icon,
.single-pricing-box .pricing-features li i,
.funfact h3,
.page-title-text ul li,
.widget-area .widget_recent_entries ul li a:hover,
.widget-area .widget_recent_comments ul li a:hover,
.widget-area .widget_archive ul li a:hover,
.widget-area .widget_categories ul li a:hover,
.widget-area .widget_meta ul li a:hover,
.login-content .login-form form .forgot-password a,
.login-content .login-form form .connect-with-social button,
.signup-content .signup-form form .connect-with-social button,
.contact-info ul li a:hover,
.single-footer-widget .list li a:hover,
.single-footer-widget .footer-contact-info li a:hover,
.copyright-area p a:hover,
.single-blog-post .blog-post-content h3 a:hover,
.single-blog-card .blog-post-content .read-more-btn:hover,
.single-blog-card .blog-post-content ul.entry-meta li i,
.sticky .single-blog-post .blog-post-content .read-more-btn:hover,
.sticky .single-blog-post .blog-post-content .read-more-btn:focus,
.sticky .single-blog-post .blog-post-content h3 a:hover,
.sticky .single-blog-post .blog-post-content ul.entry-meta li i,
ul.entry-meta li i,
.sidebar .widget ul li a:hover,
.sidebar .calendar_wrap table th a,
.sidebar .calendar_wrap table td a,
.sidebar .widget_recent_comments .recentcomments a:hover,
.sidebar .widget_recent_entries ul li a:hover,
.blog-details .blog-meta ul li i,
.blog-details .blog-details-content p a,
.blog-details .blog-details-content ol li a,
table td a,
table th a,
.footer-area .calendar_wrap table #today,
.footer-area .calendar_wrap table #prev a,
.footer-area .calendar_wrap table #next a,
.footer-area .widget_recent_comments .recentcomments .comment-author-link a:hover,
.footer-area .widget_recent_comments .recentcomments a:hover,
.single-footer-widget .footer-contact-info li i,
.single-team-member .member-image .social li a i:hover,
.blog-details .blog-details-content ul li a,
.page-main-content .entry-content a,
.comment-respond p.logged-in-as a,
.blog-details .blog-details-content p a,
.blog-details .blog-details-content dd a,
.single-blog-post-box .entry-meta li a:hover,
.single-blog-post-box .blog-post-content h3 a:hover,
.sidebar .widget_rss ul li .rss-date,
.wp-block-image figcaption a,
.wp-caption .wp-caption-text a,
.widget_tryo_posts_thumbs .item .info .title a:hover,
.footer-area .single-footer-widget ul li a:hover,
.footer-area .widget_rss ul li .rss-date,
.luvion-responsive-nav .luvion-responsive-menu.mean-container .mean-nav ul li.active>a {
	color: #ee0979;
}

.luvion-nav .navbar .navbar-nav>.nav-item.active>a {
	border-bottom: 1px solid #ee0979;
}

@media only screen and (max-width: 991px) {
	.luvion-responsive-nav .luvion-responsive-menu.mean-container .mean-nav ul li a.active,
	.luvion-responsive-nav .others-options .login-btn:hover,
	.navbar-area.is-sticky .luvion-responsive-nav .others-options .login-btn i,
	.navbar-area.is-sticky .luvion-responsive-nav .others-options .login-btn:hover,
	.navbar-area.navbar-style-two .luvion-responsive-nav .others-options .login-btn i,
	.navbar-area.navbar-style-two .luvion-responsive-nav .others-options .login-btn:hover {
		color: #ee0979;
	}
}

.ready-to-talk-content .btn-primary:hover,
.ready-to-talk-content .btn-primary:focus,
.single-footer-widget .social-links li a,
.blog-details .blog-meta ul li a:hover,
.is-style-outline .wp-block-button__link {
	color: #ee0979 !important;
}

.form-control:focus,
.feedback-slides .client-thumbnails .next-arrow:hover,
.feedback-slides .client-thumbnails .prev-arrow:hover,
.widget-area .widget_search form .search-field:focus,
.widget-area .tagcloud a:hover,
.widget-area .tagcloud a:focus,
.login-content .login-form form .connect-with-social button:hover,
.signup-content .signup-form form .connect-with-social button:hover,
.single-footer-widget .social-links li a:hover,
.post-tag-media ul li a:hover,
#comments .comment-list .comment-body .reply a:hover,
.is-style-outline .wp-block-button__link,
.footer-area .tagcloud a:hover,
blockquote,
.login-content .login-form form .connect-with-social button,
.signup-content .signup-form form .connect-with-social button,
.luvion-nav .navbar .navbar-nav .nav-item a:hover {
	border-color: #ee0979;
}

.single-features-box .icon.bg-cdf1d8,
.features-box .icon.bg-cdf1d8,
.page-title-text ul li a:hover,
.feedback-slides .client-feedback .single-feedback .quote-icon {
	color: #44ce6f;
}

.section-title .bar::before,
.overview-box .overview-content .content .bar::before,
.invoicing-content .bar::before,
.app-download-content .bar::before,
.faq-content .bar::before {
	background: #44ce6f;
}

.contact-info ul li:hover .icon,
.feedback-slides .client-feedback .single-feedback .client-img img,
.feedback-slides .client-thumbnails .item .img-fill img {
	border-color: #44ce6f;
}

.btn-primary::before,
.preloader,
.money-transfer-form form .form-group,
.money-transfer-form form .currency-info .bar,
.money-transfer-form form .currency-info .bar::before,
.money-transfer-form form .currency-info .bar::after,
.money-transfer-form form .btn::after,
.hero-image .video-btn::after,
.about-image .video-btn::before,
.single-featured-box .read-more-btn,
.single-featured-box .read-more-btn::before,
.overview-box .overview-content .content .services-list li span::before,
.comparisons-table table thead tr,
.single-features-box::before,
.features-box::before,
.single-information-box .btn-box .app-store-btn::before,
.single-information-box .btn-box .play-store-btn::before,
.feedback-slides .client-thumbnails .next-arrow::before,
.feedback-slides .client-thumbnails .next-arrow::before,
.feedback-slides .client-thumbnails .prev-arrow::before,
.feedback-slides .client-thumbnails .prev-arrow::before,
.app-download-content .btn-box .app-store-btn::before,
.app-download-content .btn-box .play-store-btn::before,
.pagination-area .page-numbers::before,
.widget-area .widget .widget-title::before,
.widget-area .widget_search form button::before,
.widget-area .tagcloud a::before,
.contact-info ul li .icon::before,
.go-top,
.sidebar .widget_search form button::before,
.no-results form button::before,
.footer-area .widget_search form button::before,
.single-blog-post-box .blog-image .date,
.btn-primary::after,
.account-create-area,
.single-blog-post .read-more-link-content a,
.single-team-member .member-image .social li a i,
.single-pricing-box:hover .pricing-header::after,
.single-pricing-box.active .pricing-header::after,
.single-pricing-box.active .buy-btn .btn-primary::before,
.banner-btn .video-btn::after {
	background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
	background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}

.money-transfer-form form .btn::before,
.hero-image .video-btn::before,
.about-image .video-btn,
.overview-box .overview-content .content .features-list li span i,
.single-information-box .btn-box .app-store-btn::after,
.single-information-box .btn-box .play-store-btn::after,
.app-download-content .btn-box .app-store-btn::after,
.app-download-content .btn-box .play-store-btn::after,
.account-create-content .btn-primary::before,
.widget-area .widget_search form button::after,
.contact-info ul li .icon::after,
.go-top::before,
.sidebar .widget_search form button::after,
.no-results form button::after,
.footer-area .widget_search form button::after,
.banner-btn .video-btn::before {
	background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
}

.navbar-area.is-sticky,
.navbar-area.is-sticky .luvion-nav {
	background: #ffffff !important;
}

.navbar-area.is-sticky .luvion-nav .navbar .navbar-nav .nav-item a {
	color: #0e314c;
}

.luvion-nav .navbar .navbar-nav .nav-item a {
	color: #ffffff;
}

p,
.money-transfer-form form .currency-info span,
.money-transfer-form form .money-transfer-info,
.overview-box .overview-content .content .services-list li span,
.overview-box .overview-content .content .features-list li span,
.single-pricing-box .pricing-features li,
.widget-area .widget_luvion_posts_thumb .item .info time,
.widget-area .widget_recent_entries ul li,
.widget-area .widget_recent_entries ul li a,
.widget-area .widget_recent_entries ul li .post-date,
.widget-area .widget_recent_comments ul li a,
.widget-area .widget_archive ul li,
.widget-area .widget_archive ul li a,
.widget-area .widget_categories ul li,
.widget-area .widget_categories ul li a,
.widget-area .widget_categories ul li .post-count,
.widget-area .widget_meta ul li,
.widget-area .widget_meta ul li a,
.widget-area .tagcloud a,
.signup-content .signup-form form .connect-with-social span,
.contact-info ul li,
.contact-info ul li a,
.single-footer-widget .list li a,
.single-footer-widget .footer-contact-info li,
.single-footer-widget .footer-contact-info li a,
.sidebar .widget ul li a,
.sidebar .nice-select,
.sidebar .tagcloud a,
.sidebar .calendar_wrap table th,
.sidebar .calendar_wrap table td,
.sidebar span.post-count,
.blog-details .blog-meta ul li,
.blog-details .blog-details-content ul li,
.blog-details .blog-details-content ol li,
.blog-details .blog-details-content b,
.blog-details .blog-details-content strong,
.comments-area .comment-metadata,
.comments-area .comment-metadata a,
.comments-area .comment-respond .comment-form-cookies-consent label,
.wp-block-image figcaption,
.wp-block-archives-list li a,
.wp-block-categories-list li a,
.wp-block-video figcaption,
pre.wp-block-verse,
.footer-area .single-footer-widget table td,
.footer-area .single-footer-widget table th,
.footer-area .single-footer-widget .item .info .title a,
.footer-area .nice-select,
.footer-area .nice-select .option,
.footer-area .widget_rss ul li .rsswidget,
.footer-area .widget_rss ul li .rss-date,
.footer-area .widget_rss ul li .rssSummary,
.footer-area .widget_rss ul li cite,
.footer-area .tagcloud a,
.footer-area .widget_text p,
.footer-area .calendar_wrap caption,
.footer-area .widget_recent_comments .recentcomments .comment-author-link a,
.footer-area .widget_recent_comments .recentcomments a,
.footer-area .widget_recent_entries ul li a,
.footer-area span.post-count {
	color: #57647c
}

.footer-area {
	background-color: #070d13;
}

.footer-area .single-footer-widget ul li::before {
	top: 9px;
}